*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
*:focus{
    outline: none;
}

:root {
    --mainColor: #343434;
    --paraColor: #748182;
    --shadowColor: #f5f5f5f5;
}

h3.p,
h6 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 40px;
}

/* ----navbar----- */

.xx {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.navbar-nav li a {
    font-family: 'Poppins', sans-serif;

    font-size: 14;
    color: black;
}
.navbar-nav .nav-link{
    position: relative;
}
.navbar-nav .nav-link::after{
    content: "";
    width: 0;
    height: 2px;
    top: 85%;
    position: absolute;
    left: 12%;
    background-color: black;
    transition: all 0.5s;
}
.navbar-nav .nav-link.active::after{
    width: 75%;
    left: 12%;
}
.navbar-nav .nav-link:hover{
    color: black;
}




/* -----home----- */
#home {
    background: url(../imgs/bg.jpg);
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
}

.h-layer {
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    font-family: 'Montserrat', sans-serif;
}

.h-h5 {
    font-weight: 800;
    line-height: 55px;
    font-size: 50px;
    margin: 0px 0px 10px;
}

.h-h1 {
    line-height: 72px;
    padding: 12px 0px;
}
.display-6{
    font-size: clamp(30px, calc(1.625rem + 3.4vw),72px);
}

.h-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: RGBA(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
b::after {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    content: "";
    animation-name: ani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes ani {
    0% {content: "| ";}
    20%{content:"Developer|" ;}
    21%{content:"Develop|" ;}
    22%{content:"Develo|" ;}
    23%{content:"Devel|" ;}
    24%{content:"Deve|" ;}
    25%{content:"Dev|" ;}
    26%{content:"De|" ;}
    27%{content:"D" ;}
    28% {content: "| ";}
    44% {content: "designer| ";}
    45% {content: "designe| ";}
    46% {content: "design| ";}
    47% {content: "desig| ";}
    48% {content: "desi| ";}
    49% {content: "des| ";}
    50% {content: "de| ";}
    51% {content: "d| ";}
    52% {content: "|";}
    55%{content: "Larrey Daniels|";}
    85%{content: "Larrey Daniels|";}
    86%{content: "Larrey Daniel|";}
    87%{content: "Larrey Danie|";}
    88%{content: "Larrey Dani|";}
    89%{content: "Larrey Dan|";}
    90%{content: "Larrey Da|";}
    91%{content: "Larrey D|";}
    92%{content: "Larrey |";}
    93%{content: "Larrey|";}
    94%{content: "Larre|";}
    95%{content: "Larr|";}
    96%{content: "Lar|";}
    97%{content: "La|";}
    98%{content: "L|";}
    100%{content: "|";}
}

/* -----about----- */
.about-cap .mo {
    font-size: 30px;
}

#about .photo{
    padding: 0px 0px 0px 30px;
    position: relative;
}
#about .photo::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url(../imgs/dots.png);
    background-repeat: repeat;
    z-index: -1;
    
}

.a-p {
    font-size: 15px;
    color: #748182;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
}

.pro-h6 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

}
.progress, .progress-stacked {
    --bs-progress-height: 1.5rem;
    --bs-progress-bar-bg: black;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15) inset !important;
}

.a-span {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}

.btn {
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    transition: .5s all;
}

.btn-1 {
    background-color: black;
    border: 1px black solid;
    color: #FFFFFF;
}

.btn-2 {
    background-color: white;
    border: 1px black solid;
    color: black;
}

.btn-1:hover {
    background-color: white;
    border: 1px black solid;
    color: black;
}

.btn-2:hover {
    background-color: black;
    border: 1px black solid;
    color: #FFFFFF;
}

.nav .p-a::after{
    content: "";
    width: 0;
    height: 2px;
    top: 85%;
    position: absolute;
    left: 0%;
    background-color: black;
    transition: all 0.5s;
}
.nav .p-a.active:after{
    margin: 0px auto;
    width: 100%;
}

/* -----profile----- */
#profile a {
    color: unset;
}
.p-a{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.p-layer {
    left: 9px;
    top: 9px;
    width: 95%;
    height: 95%;
    transition: .5s background-color;
}

.p-cap {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
}

.p-icon {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    color: white;
}

.photo:hover .p-layer {
    background-color: rgba(255, 255, 255, .9);
}

.photo:hover .p-cap {
    opacity: 1;
}

.p-icon:hover {
    background-color: #FFFFFF;
    border: 1px solid black;
    color: black;
}
.p-a a{
    color: unset;
}
.p-a a::after

.p-h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
/* --------Testimonials.--------- */
#clients{
    background-color: var(--shadowColor);
    cursor: grab;
}
#clients .t-h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.t-photo{
}
.t-h6{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.te-p{
    color: var(--paraColor);
}
.t-span{
    font-size: 12px;
    color: #888888;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.t-photo img{
    max-width: 16%;
    min-width: 15%;
    border-radius: 50%;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--paraColor);
    margin-left: 10px;
}
/* ----Services----- */
#services {
    background-color: var(--shadowColor);
}

#services h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

#services h6 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#services p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--paraColor);
}

.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--shadowColor);
    transition: all .5s;
}

.icon i {
    font-size: 25px;
}

.inner:hover .icon {
    background-color: black;
    color: #FFFF;
}




















/* ---social--- */
#social i {
    font-size: 40px;
}

.so-h3 {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

#social p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* ---team----- */
#team {
    background-color: var(--shadowColor);
}

#team .inner {
    background-color: #343434;
    color: #FFFFFF;
}

.mo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 8px;
    font-size: 40px;
}

.s-i i {
    font-size: 30px;
}

.w-photo {
    transition: all 1s;
}

.s-i p {
    color: var(--paraColor);
}

.w-photo {
    overflow: hidden;
}

.w-photo img {
    transition: transform 1s;
}

.w-photo:hover img {
    transform: scale(1.2);
}

.layer {
    width: 95%;
    height: 95%;
    cursor: pointer;
    top: 100%;
    opacity: 0;

    background-color: rgba(255, 255, 255, .9);
    transition: background-color 1s, transform .5s;
}

.inner:hover .layer {
    opacity: 1;
    /* background-color:rgba(255, 255, 255, 1); */
    top: 10px;
    left: 10px;
    transform: rotateY(180deg);
}

.icon:hover .i-1 {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.icon .i-1:hover i {
    color: black;
}

.inner .icons {
    transform: rotateY(180deg);
}

.w-photo:hover .icons {}

.layer .icon {
    width: 40px;
    height: 40px;
}

.layer .icon i {
    font-size: 16px;
    color: #FFFFFF;
}

/* contact us */
#contact {
    font-family: 'Poppins', sans-serif;
}

#contact p {
    color: var(--paraColor);
}

#contact h6 {
    color: RGB(52, 52, 52);
}

.c-h3 h3 {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    line-height: 2px;
}

.c-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--shadowColor);
    border: 1px;
    border-radius: 50%;
    transition: all 1s;
}

.co-p {
    font-size: 15px;
}

.c-span i {
    font-size: 25px;
}

input {
    background-color: #F4F4F4;
    padding: 10px;
    border: transparent;
}

textarea {
    max-height: 200px;
    background-color: #F4F4F4;
    border: transparent;
}

.nested-container {
    width: 90%;
}

.c-b .btn {
    padding: 10px 35px;
}

.inner:hover .c-span {
    background-color: black;
    color: #FFFF;
}

@media screen and (max-width:990px) {
    .mar {
        padding-bottom: 15px;
    }

    .nested-container {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .mar {
        padding-bottom: 15px;
    }

    .nested-container {
        width: 100%;
    }

    #contact .container {
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

}
/* footer */
footer{
    background-color:#1C1C1C ;
    text-align: center;
}
footer > p{
    color: #748182;
    font-size: 13px;
    margin-top: 15px;
}


